
<%= render "layouts/navbar" %>
<section>
<h1>About</h1>

KickAbout is a platform to play football and meet new people in a safe and friendly environment. 
Take a look at our football code, which we’ll ask you to agree to before joining the platform:
* KickAbout has been created as a space for everyone outside of the traditional male audience of modern football culture (no shade here, the aim is to simply push for greater inclusivity and opportunities to play football in a relaxed environment).
* KickAbout games should be organised with safety and accessibility in mind.
* The archive feature of games played, lets users upload photos, match reports and give feedback.

This web application was built using Ruby on Rails for the back-end development, SASS-Rails for the front-end development and Stimulus to interface with the APIs. The database system used is PostgreSQL. The location services are managed using Google Location and Google Maps and the distances are calculated using Geokit-rails.
</section>
