
<section class="about-container">
<%= render "layouts/navbar" %>

	<section class="about-form">
		<h1>About</h1>

	<p>
		KickAbout is a platform to play football and meet new people in a safe and friendly environment. 
	</p>
	<strong>
		Take a look at our football code, which we’ll ask you to agree to before joining the platform:
	</strong>
		<p>* KickAbout has been created as a space for everyone outside of the traditional male audience of modern football culture (no shade here, the aim is to simply push for greater inclusivity and opportunities to play football in a relaxed environment).
		<br>* KickAbout games should be organised with safety and accessibility in mind.
		<br>* The archive feature of games played, lets users upload photos, match reports and give feedback.</p>
		
</section>
</section>

