@import url('https://fonts.googleapis.com/css2?family=Modak&family=Raleway:wght@100;400;500;700&display=swap');
@import '_variables.scss';
@import '_mixins.scss';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

body{
	height: 100vh;
}

.landing-container{
	@include page-image('landing-page.jpeg');
	height: 100vh;
}

.landing-banner{
	@include banner ($orange-fade, #A27315);
	margin-left: 75%;
}

.form{
	@include flex;
	@include container;
}
.input_text{
	border: 2px solid $orange;
	box-sizing: border-box;
	border-radius: 5px;
	width:80%;
	margin: 10px;
}
.form-btn{
	@include button($orange)
}

.game-container{
	@include container;
	width:25%;
}

