@import url('https://fonts.googleapis.com/css2?family=Modak&family=Raleway:wght@100;400;500;700&display=swap');
@import '_variables.scss';
@import '_mixins.scss';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	z-index: 5;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

body{
	height: 100vh;
}

.landing-page-container{
	@include page-image('landing-page.png');
	display:grid;
	grid-template-columns: repeat(5,1fr)
}

.landing-banner{
	@include banner ($orange-fade, #A27315);
	margin-left: 75%;
	padding: 0.5rem;
	display:grid;
	grid-template-rows: 2fr 1fr;
	align-items: center;
	justify-items: end;
}
.landing-btn{
	@include button($grey)
}

.form{
	@include flex;
	@include container;
}
.field{
	@include flex;
}
.input_text{
	border: 2px solid $orange;
	box-sizing: border-box;
	border-radius: 5px;
	width:80%;
	margin: 10px;
	padding: 0.5%;
}
.form-btn{
	@include button($orange)
}
.link{
	color: $black;
}

.game-container{
	@include container;
	width:25%;
}

.game-page-container{
	@include page-image('home-page.png');
}
.add-game-page-container{
	@include page-image('home-page.png');
}

.about-page-container{
	@include page-image('about-page.png');
}