@import '_variables.scss';
.topnav {
  background-color: $black;
  overflow: hidden;
	width:100%;
	text-align: end;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: $white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $white;
  color: $black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: $orange;
  color: $white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


