<nav> 
<div id="hamburger">
<br>
<%= link_to 'About', about_index_path %><br>
<%= link_to 'Add a game', new_game_path %><br>
<%= link_to 'Profile', game_users_profile_path %><br>
<%= link_to 'Sign out' , destroy_user_session_path, method: :delete %>

</div>
</nav>