<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
<br>
  <a href="games" class="active">Home</a>
  <a href="game_users/profile">Profile</a>
  <a href="/about">About</a>
  <a href="games/new">Add a game</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
